*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

font-family:Arial,Helvetica,sans-serif;
background:#020617;
color:white;

}


html{
scroll-behavior:smooth;
}



nav{

position:fixed;
top:0;
left:0;

width:100%;

height:75px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 8%;

background:rgba(2,6,23,.9);

z-index:1000;

}



.logo{

font-size:32px;
font-weight:800;
color:#0ea5ff;

}



nav a{

color:white;
text-decoration:none;

margin-left:25px;

font-size:16px;

}


nav a:hover{

color:#0ea5ff;

}




.hero{


min-height:100vh;

padding:120px 8% 60px;

display:flex;

align-items:center;

justify-content:center;

gap:80px;


background:

radial-gradient(circle at left,#075985,#020617);


}




.left{

text-align:center;

}




.profile-ring{


width:330px;

height:330px;


border-radius:50%;

padding:8px;


background:

linear-gradient(45deg,#00c6ff,#0066ff);


box-shadow:

0 0 60px #008cff;


}




.profile-ring img{


width:100%;

height:100%;


object-fit:cover;

border-radius:50%;


}





.social{

margin-top:25px;

}



.social a{


display:inline-block;

padding:10px 20px;

margin:5px;

border-radius:25px;

border:1px solid #00aaff;

color:white;

text-decoration:none;

}





.right{


max-width:700px;


}




.experience{


display:inline-block;

padding:10px 20px;

border:1px solid #00aaff;

border-radius:30px;

}



h1{


font-size:75px;

margin:20px 0;

}



.right h2{


height:45px;

color:#00e5ff;

font-size:32px;


}




.right p{


font-size:20px;

line-height:1.6;

color:#dbeafe;

}



.buttons{

margin-top:35px;

}


.buttons a{


display:inline-block;

padding:15px 35px;

margin-right:15px;

background:#008cff;

border-radius:30px;

color:white;

text-decoration:none;

}



.buttons a:last-child{


background:transparent;

border:1px solid #00aaff;


}




section{


padding:90px 8%;


}



section>h2{


text-align:center;

font-size:40px;

margin-bottom:40px;

}




.card{


background:#07152e;

padding:35px;

border-radius:25px;

border:1px solid #123;


}



.grid{


display:grid;

grid-template-columns:

repeat(auto-fit,minmax(220px,1fr));

gap:25px;


}



.grid div{


background:#07152e;

padding:30px;

border-radius:20px;

border:1px solid #123;

text-align:center;

transition:.3s;


}



.grid div:hover{


transform:translateY(-8px);

box-shadow:0 0 25px #008cff;


}




.contact-card{


max-width:500px;

margin:auto;

text-align:center;

background:#07152e;

padding:35px;

border-radius:25px;


}



.contact-card img{


width:130px;

height:130px;

border-radius:50%;

object-fit:cover;

border:3px solid #00aaff;


}




@media(max-width:900px){


.hero{

flex-direction:column;

text-align:center;


}



h1{

font-size:50px;

}


.profile-ring{


width:240px;

height:240px;


}


nav div{

display:none;

}


}
