*{

margin:0;
padding:0;
box-sizing:border-box;

}


body{

font-family:Segoe UI,sans-serif;

background:#0f172a;

color:white;

}



html{

scroll-behavior:smooth;

}



.navbar{


position:fixed;

top:0;

width:100%;

padding:20px 10%;

display:flex;

justify-content:space-between;

background:#0f172acc;

backdrop-filter:blur(10px);

z-index:10;


}



.navbar a{

color:white;

text-decoration:none;

margin-left:20px;

}





.hero{


height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;


background:linear-gradient(
120deg,
#02569B,
#13B9FD,
#0f172a
);


}



.hero-content{

max-width:850px;

}



.profile-img{


width:170px;

height:170px;

border-radius:50%;

object-fit:cover;

border:5px solid #13B9FD;

animation:float 3s infinite;


}



@keyframes float{


50%{

transform:translateY(-15px);

}


}





.hero h1{

font-size:4rem;

}



.hero h2{

color:#13B9FD;

margin:20px;

}



.hero p{

font-size:20px;

}



.buttons{

margin-top:30px;

}



.btn{


padding:12px 30px;

background:#13B9FD;

color:white;

border-radius:30px;

text-decoration:none;

margin:10px;


}



.outline{

background:transparent;

border:2px solid #13B9FD;

}





section{

padding:100px 10%;

}



.section-title{

text-align:center;

font-size:40px;

margin-bottom:40px;


}



.grid{


display:grid;

grid-template-columns:
repeat(auto-fit,minmax(250px,1fr));

gap:20px;


}




.card{


background:#1e293b;

padding:25px;

border-radius:20px;

transition:.4s;


}



.card:hover{


transform:translateY(-10px);

box-shadow:0 0 25px #13B9FD;


}





.contact{

text-align:center;

}



.contact-box{


background:#1e293b;

padding:40px;

border-radius:25px;

max-width:500px;

margin:auto;


}



.contact-img{


width:120px;

height:120px;

border-radius:50%;

object-fit:cover;


}



.contact-box a{


color:#13B9FD;

margin:20px;

text-decoration:none;

font-size:18px;


}




.fade{

opacity:0;

transform:translateY(50px);

transition:1s;

}



.show{


opacity:1;

transform:none;


}
